.cabinet {
    display: flex;
}

.cabinet__form {
    width: 340px;
}

.cabinet__avatar {
    flex-grow: 1;
    padding-left: 11rem;

    img {
        display: block;
        margin-bottom: 1.5rem;
    }
}

.cabinet__file {
    font-size: 1.4rem;
    color: $blue;
    text-decoration: underline;
    cursor: pointer;
   
    input {
        display: none;
    }

    &:hover {
        text-decoration: none;
    }
}

.form__footer-list {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    line-height: 1.2;

    li {
        margin: 0 .5rem;
    }

    a {
        color: $white;
    }
}